.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: .5rem;
	grid-column-gap: .5rem;
	padding: 1rem;

	>:nth-child(9n+1) { grid-column: 1/3 }
	>:nth-child(9n+5) { grid-column: 2/4 }
	>:nth-child(9n+9) { grid-column: 3/5 }
	@media (max-width: 1200px){
		grid-template-columns: repeat(3, 1fr);
		>:nth-child(9n+1),
		>:nth-child(9n+5),
		>:nth-child(9n+9) { 
		    grid-column: auto ;
		}
	}
	@media (max-width: 768px){
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 480px){
		grid-template-columns: repeat(1, 1fr);
	}
	.cards__item{
		@include border-radius();
		overflow: hidden;
		height: 350px;
		box-shadow: 0 0 .5rem $black-color;
		position: relative;
		//Elementos hijos
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
			transition: .5s;
		}
		.cards__item-info{
			@include flex(column, flex-start, flex-start);
			padding: .5rem;
			position: absolute;
			bottom: 0;
			background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5), rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));

			z-index: 100;
			width: 100%;
			h3, p{
				color: $white-color;
				width: 95%;
			}
			h3{
				border-bottom: 1px solid var(--gray-color);
			}
			p {
				font-size: var(--font-s-small);
				transition: .5s;
			}
			.link-rating {
				@include flex(row, space-between);
				width: 95%;
				padding: .3rem 0 0 0;
				.all-star{
					i {
						font-size: var(--font-s-normal);
						color: #ff0; 
					}
				}
				.link{
					@include flex();
					a, i{
						color: #0af;
						font-size: var(--font-s-normal);
					}
				}
			}
		}
		&:hover img {
			transform: scale(1.02);
		} 
		&:hover .cards__item-info {
			background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .6), rgba(0, 0, 0, .8), rgba(0, 0, 0, .9));
			p{
				font-size: var(--font-s-normal);
			}
		} 
	}
}
