.mainContacto{
		.mainContacto__contacto{
		h3{
			text-align: center;
			margin: .5rem 0;
		}
		form{
			@include flex(column, flex-start);
			width: 100%;
			label{
				color: var(--black-color);
			}
			input, textarea{
				width: 500px;
				padding: .7rem;
				@include border-radius();
				background: none;
				border: 2px solid #aaf;
				margin: 0 0 .7rem 0;

			}
			select{
				width: 500px;
				padding: .7rem;
				@include border-radius();
				background: none;
				border: 2px solid #aaf;
				margin: 0 0 .7rem 0;

			}
			.buttons{
				margin: 1rem 0;
				input[type=submit], input[type=reset]{
					@include border-radius();
					width: 100px ;
					background: none;
					border: 2px solid #aaf;
					color: $black-color;

				}
			}
		}
	}
}
