header {
	@include flex(row, space-around);
	box-shadow: 2px 2px 10px $black-color;
	padding: 2rem 0;
	background: var(--white-color);
	.logo{
		@include flex(row, space-around);
		h1{
			font-size: var(--font-s-large);
			color: var(--black-color);
			margin: 0 .5rem;
		}
	    img{
			width: 1.5rem;
		}
	}
	nav{
		@include flex(row, center);
		padding: 0 1rem;
		ul {
			@include flex(row, center);
			li{
				margin: 0 .5rem ;
				list-style: none;
				a{
					text-decoration: none;
					color: var(--black-color);
					padding: .2rem ; 
					border-style: dotted;
					border-width: 0 0 2px 0;
					border-color: transparent;
					transition:.5s;
					&:hover {
						border-color: var(--light-color);
					}
	
				}
				.close-menu{
					 display: none;
					color: $white-color;
				}
			}
		}
		.menu{
			display: none;
			background: none;
			outline: none;
			border: none;
			color: var(--black-color);
		}
	}
}

@media(max-width: 768px){
	header {
		@include flex(row, space-between);
		box-shadow: 2px 2px 10px $black-color;
		padding: 1rem 0;
		background: var(--white-color);
		position: relative;
		.logo{
			@include flex(row, space-around);
			padding: 0 0 0 .6rem;
			h1{
				font-size: var(--font-s-large);
				color: var(--black-color);
				margin: 0 1rem;
			}
			img{
				width: 1.5rem;
			}
		}
		nav{
			@include flex(row, center);
			ul {
				@include flex(column, flex-start);
				display: none;
				@include border-radius(0,0,0, 1rem);
				background: rgba(0,0,0,.9);
				width: 100%;
				max-width: 500px;
				position: fixed;
				top: 0;
				right: 0;
				padding: 2rem 0;
				z-index:1000;
				transition: .5;
				li{
					margin: .8rem 0 ;
					list-style: none;
					a{
						text-decoration: none;
						color: $white-color;
						padding: .2rem ; 
					}
					.close-menu{
						display: block;
						color: $white-color;
						font-size: var(--font-s-large);
					}

				}
			}
			.showHide{display: flex;}
			.menu{
				display: block;
				background: none;
				outline: none;
				border: none;
				color: var(--black-color);
			}
		}
	}
}
