.main {
	.main__banner{
	    width: 100%;
		height: 400px;
		position: relative;
		img{
			width: 100%;
			height: 100%; 
			object-fit: cover;
		}
		.main__banner--text{
			@include flex(column, center);
			position:absolute;
			top: 40%;
			width: 100%;
	        h3{
				text-align: center;
				font-size: var(--font-s-big);
				color: $white-color;
				background: linear-gradient(to bottom, rgba( 0, 0, 0, .2), rgba( 0, 0, 0, .7), rgba( 0, 0, 0, .2)); 
				padding: .2rem;
	
			}
			form{
				@include flex(row, center);
				width: 600px; 
				position: relative;
				box-shadow: .2rem .2rem .2rem $black-color;
				@include border-radius(1rem, 1rem, 1rem , 1rem );
				overflow: hidden;
				@media(max-width: 600px){
				   width: 90%;
				}
				@media(max-width: 450px){
				   width: 90%;
				}
				input{
					width: 100%;
					padding: 1rem;
					border: none;
					outline: none;
					border-width: 0 0 2px 0;
					border-style: solid;
					border-color: transparent;
					transition: .5s;
					&:focus{
						border-color:var(--light-color);
					}
				}

				button {
					position: absolute;
					right: 10px;
	                background: none;
					border: none;
					outline: none;
				}
			}
		}
	}
}
