//border-radius
$b-r: 0.4rem;

//mixin border-radius recibe top, right, bottom y left
@mixin border-radius($t: $b-r, $r: $b-r, $b: $b-r, $l: $b-r) {
	border-radius: $t $r $b $l;
}

@mixin flex($direction: row, $justify: space-around, $align: center) {
	display: flex;
	justify-content: $justify;
	flex-direction: $direction;
	align-items: $align;
}

@mixin input($width) {
	border: none;
	outline: none;
	padding: 0.5rem;
	transition: 0.5s;
	width: $width;
	border-width: 0 0 0.1rem 0;
	border-color: transparent;
	border-style: solid;
	&:hover,
	&:focus {
		border-color: $light-color;
	}
}

@mixin btn() {
	@include border-radius();
	min-width: 6rem;
	padding: 0.6rem;
	outline: none;
	border-color: transparent;
	border-style: solid;
	border-width: 0 0 0.1rem 0;
	background: $black-color;
	color: $white-color;
}
@mixin primary-btn() {
	@include btn();
	background: none;
	color: $black-color;
}

@mixin secundary-btn() {
	@include btn();
	border-color: $light-color;
}
