.promocionar{

	.promocionar__table{
		@include flex(column, flex-start);
		padding: 1rem 0;
	    h3, p {
			text-align: center; 
			color: var(--black-color);
			margin: .5rem 0 ;
		}
	}
	table{
		border-collapse: collapse;
		thead{
			background: #aaa;
			th{
				padding: 1rem;
			}
		}
		tbody{
			td{
				padding: 1rem;
			}
		}
	}

}
