//main color
$black-color: #333;
$white-color: #ffe;
:root {
	--black-color: #222;
	--white-color: #ffe;
	--gray-color: #888;
	--light-color: #f30;
	--shadow: #666;

	--font-s-small: 0.8rem;
	--font-s-normal: 1rem;
	--font-s-large: 1.5rem;
	--font-s-big: 3rem;

	@media (max-width: 700px) {
		--font-s-small: 0.7rem;
		--font-s-normal: 0.9rem;
		--font-s-large: 1.3rem;
		--font-s-big: 2rem;
	}
	@media (max-width: 430px) {
		--font-s-small: 0.6rem;
		--font-s-normal: 0.8rem;
		--font-s-large: 1.2rem;
		--font-s-big: 1.5rem;
	}
	@media (max-width: 330px) {
		--font-s-small: 0.5rem;
		--font-s-normal: 0.7rem;
		--font-s-large: 1rem;
		--font-s-big: 1.2rem;
	}
	@media (prefers-color-scheme: dark) {
	}
	@media (prefers-color-scheme: light) {
	}
}
