* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Georama;
  src: url(../fonts/Georama/Georama-VariableFont_wdth,wght.ttf);
}
:root {
  --black-color: #222;
  --white-color: #ffe;
  --gray-color: #888;
  --light-color: #f30;
  --shadow: #666;
  --font-s-small: 0.8rem;
  --font-s-normal: 1rem;
  --font-s-large: 1.5rem;
  --font-s-big: 3rem;
}
@media (max-width: 700px) {
  :root {
    --font-s-small: 0.7rem;
    --font-s-normal: 0.9rem;
    --font-s-large: 1.3rem;
    --font-s-big: 2rem;
  }
}
@media (max-width: 430px) {
  :root {
    --font-s-small: 0.6rem;
    --font-s-normal: 0.8rem;
    --font-s-large: 1.2rem;
    --font-s-big: 1.5rem;
  }
}
@media (max-width: 330px) {
  :root {
    --font-s-small: 0.5rem;
    --font-s-normal: 0.7rem;
    --font-s-large: 1rem;
    --font-s-big: 1.2rem;
  }
}
header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 2px 10px #333;
  padding: 2rem 0;
  background: var(--white-color);
}
header .logo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
header .logo h1 {
  font-size: var(--font-s-large);
  color: var(--black-color);
  margin: 0 0.5rem;
}
header .logo img {
  width: 1.5rem;
}
header nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
header nav ul li {
  margin: 0 0.5rem;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: var(--black-color);
  padding: 0.2rem;
  border-style: dotted;
  border-width: 0 0 2px 0;
  border-color: transparent;
  transition: 0.5s;
}
header nav ul li a:hover {
  border-color: var(--light-color);
}
header nav ul li .close-menu {
  display: none;
  color: #ffe;
}
header nav .menu {
  display: none;
  background: none;
  outline: none;
  border: none;
  color: var(--black-color);
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 2px 10px #333;
    padding: 1rem 0;
    background: var(--white-color);
    position: relative;
  }
  header .logo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 0.6rem;
  }
  header .logo h1 {
    font-size: var(--font-s-large);
    color: var(--black-color);
    margin: 0 1rem;
  }
  header .logo img {
    width: 1.5rem;
  }
  header nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  header nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: none;
    border-radius: 0 0 0 1rem;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem 0;
    z-index: 1000;
    transition: 0.5;
  }
  header nav ul li {
    margin: 0.8rem 0;
    list-style: none;
  }
  header nav ul li a {
    text-decoration: none;
    color: #ffe;
    padding: 0.2rem;
  }
  header nav ul li .close-menu {
    display: block;
    color: #ffe;
    font-size: var(--font-s-large);
  }
  header nav .showHide {
    display: flex;
  }
  header nav .menu {
    display: block;
    background: none;
    outline: none;
    border: none;
    color: var(--black-color);
  }
}
.main .main__banner {
  width: 100%;
  height: 400px;
  position: relative;
}
.main .main__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .main__banner .main__banner--text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  width: 100%;
}
.main .main__banner .main__banner--text h3 {
  text-align: center;
  font-size: var(--font-s-big);
  color: #ffe;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  padding: 0.2rem;
}
.main .main__banner .main__banner--text form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 600px;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.2rem #333;
  border-radius: 1rem 1rem 1rem 1rem;
  overflow: hidden;
}
@media (max-width: 600px) {
  .main .main__banner .main__banner--text form {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .main .main__banner .main__banner--text form {
    width: 90%;
  }
}
.main .main__banner .main__banner--text form input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  transition: 0.5s;
}
.main .main__banner .main__banner--text form input:focus {
  border-color: var(--light-color);
}
.main .main__banner .main__banner--text form button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  outline: none;
}

.mainContacto .mainContacto__contacto h3 {
  text-align: center;
  margin: 0.5rem 0;
}
.mainContacto .mainContacto__contacto form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mainContacto .mainContacto__contacto form label {
  color: var(--black-color);
}
.mainContacto .mainContacto__contacto form input, .mainContacto .mainContacto__contacto form textarea {
  width: 500px;
  padding: 0.7rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background: none;
  border: 2px solid #aaf;
  margin: 0 0 0.7rem 0;
}
.mainContacto .mainContacto__contacto form select {
  width: 500px;
  padding: 0.7rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  background: none;
  border: 2px solid #aaf;
  margin: 0 0 0.7rem 0;
}
.mainContacto .mainContacto__contacto form .buttons {
  margin: 1rem 0;
}
.mainContacto .mainContacto__contacto form .buttons input[type=submit], .mainContacto .mainContacto__contacto form .buttons input[type=reset] {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  width: 100px;
  background: none;
  border: 2px solid #aaf;
  color: #333;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  padding: 1rem;
}
.cards > :nth-child(9n+1) {
  grid-column: 1/3;
}
.cards > :nth-child(9n+5) {
  grid-column: 2/4;
}
.cards > :nth-child(9n+9) {
  grid-column: 3/5;
}
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards > :nth-child(9n+1),
.cards > :nth-child(9n+5),
.cards > :nth-child(9n+9) {
    grid-column: auto;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards .cards__item {
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 0 0.5rem #333;
  position: relative;
}
.cards .cards__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.5s;
}
.cards .cards__item .cards__item-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  z-index: 100;
  width: 100%;
}
.cards .cards__item .cards__item-info h3, .cards .cards__item .cards__item-info p {
  color: #ffe;
  width: 95%;
}
.cards .cards__item .cards__item-info h3 {
  border-bottom: 1px solid var(--gray-color);
}
.cards .cards__item .cards__item-info p {
  font-size: var(--font-s-small);
  transition: 0.5s;
}
.cards .cards__item .cards__item-info .link-rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 95%;
  padding: 0.3rem 0 0 0;
}
.cards .cards__item .cards__item-info .link-rating .all-star i {
  font-size: var(--font-s-normal);
  color: #ff0;
}
.cards .cards__item .cards__item-info .link-rating .link {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.cards .cards__item .cards__item-info .link-rating .link a, .cards .cards__item .cards__item-info .link-rating .link i {
  color: #0af;
  font-size: var(--font-s-normal);
}
.cards .cards__item:hover img {
  transform: scale(1.02);
}
.cards .cards__item:hover .cards__item-info {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}
.cards .cards__item:hover .cards__item-info p {
  font-size: var(--font-s-normal);
}

.promocionar .promocionar__table {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.promocionar .promocionar__table h3, .promocionar .promocionar__table p {
  text-align: center;
  color: var(--black-color);
  margin: 0.5rem 0;
}
.promocionar table {
  border-collapse: collapse;
}
.promocionar table thead {
  background: #aaa;
}
.promocionar table thead th {
  padding: 1rem;
}
.promocionar table tbody td {
  padding: 1rem;
}

body {
  background: var(--white-color) !important;
  font-family: "Georama";
  transition: 0.5s;
}

.claseDiv {
  color: tomato;
  font-size: 200%;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
