* {
    margin: 0;
	padding: 0;
}
@font-face{
	font-family: Georama;
	src: url(../fonts/Georama/Georama-VariableFont_wdth,wght.ttf);
}
@import 'src/_roots', 'src/mixins', 'src/header', 'src/inicio', 'src/contacto', 'src/cards', 'src/promocionar';
body {
	background: var(--white-color) !important;
	font-family: "Georama";
	transition: .5s;
}
.claseDiv {
	color: tomato;
	font-size: 200%;
	text-align: center;
}
